
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1494220443971'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1494220443971#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1494220443971') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1494220443971') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1494220443971#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:0.20rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou:before { content: "\e64d"; }

.icon-tianjia:before { content: "\e622"; }

.icon-fenxiang1:before { content: "\e601"; }

.icon-jiankangkepuzhishi:before { content: "\e62d"; }

.icon-bianji:before { content: "\e61c"; }

.icon-gengduo:before { content: "\e612"; }

.icon-erweima:before { content: "\e658"; }

.icon-fenxiang:before { content: "\e615"; }

.icon-shouye:before { content: "\e62f"; }

.icon-icon12:before { content: "\e60d"; }

.icon-vs:before { content: "\e605"; }

.icon-hyjilu:before { content: "\e616"; }

.icon-o11-copy:before { content: "\e604"; }

.icon-tixing01fuben7:before { content: "\e614"; }

.icon-xiala-copy:before { content: "\e602"; }

.icon-fanhui:before { content: "\e69f"; }

.icon-rili:before { content: "\e62e"; }

.icon-mima:before { content: "\e690"; }

.icon-fuliline:before { content: "\e6fd"; }

.icon-icons64x6421:before { content: "\e64c"; }

.icon-dianhua:before { content: "\e606"; }

.icon-jinqian:before { content: "\e63b"; }

.icon-jifen:before { content: "\e63d"; }

.icon-gerenzhongxin:before { content: "\e630"; }

.icon-4:before { content: "\e617"; }

.icon-key:before { content: "\e63e"; }

.icon-zhanghao:before { content: "\e621"; }

.icon-guwenxuanzhong:before { content: "\e65b"; }

.icon-xiugai:before { content: "\e66e"; }

.icon-queren:before { content: "\e626"; }

.icon-gukeguanli:before { content: "\e657"; }

.icon-saomiao:before { content: "\e6b6"; }

.icon-laba:before { content: "\e613"; }

.icon-sou:before { content: "\e600"; }

.icon-jishi-:before { content: "\e624"; }

